---
layout: default
title : Archive
group: navigation
---
{% include JB/setup %}

<h1>News Archive</h1>

<div class="archive">
{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
</div>
