/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}

#contact_info p {
    margin-top: 8px;
    margin-bottom; 8px;
}

a{
	color: #264FA4;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
	color: #264FA4;
}

ol {
    margin-left: 0;
    padding-left: 1.5em;
}

blockquote {
    margin: 0.1em 2em;
    color: #444444;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: #4F4E4E;
	line-height:20px;
}

#bg {
width:1024px;
background:url(images/bg.gif) left repeat-y;
margin: 0px auto; }


#main{
	width: 1000px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #000000;
	
}


#header { width:1000px;
padding: 0px 0px 0px 0px;
height: 222px;
background:url(images/header.jpg) left top no-repeat;
}

#logo {	font-family:Georgia, "Times New Roman", Times, serif;
		color:#FFFFFF;
		font-size:18px;
		font-style:italic;
		padding: 28px 0px 0px 634px;
		height: 73px;
}

#buttons {
	width: 516px;
	height: 68px;
	background: url(images/menu.jpg) left top no-repeat;
	text-align:center;
	/* margin-left: 484px; */
	/* margin-left: 606px; */
	margin-left: 540px;
}

#buttons ul {
    padding-left: 0px;
    margin: 0px;
}

#buttons li {
	display: inline;
}

#buttons a {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
	display: block;
	float: left;
	width: 103px;
	height: 44px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 24px;
	padding-left: 0px;
	margin-left: 0px;
	text-align: center;
	background:url(images/fish_but.gif) 0px 19px no-repeat;	
}

#buttons a:hover {
	text-decoration: underline;
	background:url(images/fish_but.gif) 0px 19px no-repeat;
}

#content{
	width: 974px;
	padding: 15px 0px 15px 0px;
	background: #FFFFFF;
	margin: 0px 13px 0px 13px;
}

#razd {
background:url(images/razd_bg.gif) 325px repeat-y;
width: 978px;
min-height: 650px;
}

#right{
	width: 673px;
	margin: 0px 13px 0px 0px;
	float: right;
}

.text{
	padding: 10px 0px 0px 0px;
}

.centertext{
	padding: 10px 0px 0px 0px; text-align: center;
}

.lefttext{
	padding: 10px 0px 0px 0px; text-align: left;
}

.rssxpresschannel {
	width:250px;
}

.img {	float:left;
		margin: 5px 15px 5px 0px;
}
.centerimg { margin: 5px 15px 5px 0px; text-align:center;
}

/*span {	color:#264FA4;
		font-weight:bold;
}*/
importantstuff { color:#264FA4;
font-weight:bold;
}

.pap {	color:#08245F;
		font-weight:bold;
}

.dot { background: url(images/dot.gif) center repeat-x;
height:20px;}

.line { background:url(images/line.gif) bottom repeat-x;
		padding-top: 4px;}
		
.line2 { padding-top: 4px;}

#col_l {float:left;
		width:455px;}

#col_r {float: left;
		width:186px;
		margin-left:18px}
		
.pap_bg { background:url(images/pap_bg.jpg) left repeat-y;}

.pap_bot {	background: url(images/pap_bot.jpg) left bottom no-repeat;
			padding: 10px 20px 70px 13px;
			}
			
.pap_top { background: url(images/pap_top.jpg) 0px top no-repeat;}

H1{
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color: #375391;
	padding-bottom: 5px;
	text-align:center;
}

H2{
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color: #375391;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

HDATE{
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color: #375391;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;
}

H3{
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #375391;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}

.read{
	text-align:right;
	padding-right:20px;
	font-weight:bold;
}

.read_pap{
	text-align:right;
	padding-right:0px;
	font-weight:bold;
}


#left{
float:left;
width: 259px;
background: url(images/bg_left.jpg) left 25px repeat-x;
margin-left: 8px;
}

#justleft {
float:left;
background: url(images/bg_left.jpg) left 25px repeat-x;
margin-left: 8px;
}

.rssxpresschdesc {
float:left;
background: url(images/bg_left.jpg) left 25px repeat-x;
margin-left: 8px;
padding-bottom:50px;
color: #FFFFFF;
}

.rssxpresschtitle {
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color: #375391;
	padding-bottom: 5px;
	text-align:center;
}

.rssxpresstable {
	background: #FFFFFF;
}

#allbutleft {
width: 250px;
margin-left: 8px;
}

#left ul 
{
	list-style: none;
	padding-left:0px;
	padding-top:20px;
	margin: 0px;
	display:block;
	padding-bottom: 0px;
}

#left li{
	padding-top: 9px;
	background: url(images/fish.png) 6px 10px no-repeat;
	padding-left: 28px;
}

#footer{
	height: 48px;
	width: 1000px;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 8px;
	text-align: center;
	clear:both;
	padding: 30px 0px 15px 0px;
	background:url(images/futer.jpg) bottom repeat-x;
}

#nocss {

}

#footer a{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
}

#footer a:hover {
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: underline;
}

.archive ul {
  list-style-type: none;
  padding-left: 15px;
}

/*
.archive li span {
  float: left;
  display: block;
  width: 3.5em;
}
*/
