{% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture current_year %}{{ site.time | date: '%Y' }}{% endcapture %}
{% if post_year != current_year %}
  {% capture date_format %}%A, %B %e %Y{% endcapture %}
{% else %}
  {% capture date_format %}%A, %B %e{% endcapture %}
{% endif %}

<h3>{{ post.title }}</h3>
<p><span style="color: grey;">{{ post.date | date: date_format }}</span></p>
{{ post.content }}
