<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} | UofA Graduate Physics Student Association</title>
    <!-- <meta name="author" content="" /> -->
    <link href="{{site.url}}/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>

<div id="bg">
<div id="main"><!-- header begins -->
<div id="header">
<div id="logo"><a href="http://www.ualberta.ca/">University of Alberta </a><br>
Graduate Physics Student Association&nbsp;&nbsp;</div>
<div id="buttons">

      <ul>
        <li><a href="{{site.url}}/index.html">Home</a></li>
        <li><a href="{{site.url}}/symposium.html">Symposium</a></li>
        <li><a href="{{site.url}}/resources.html">Resources</a></li>
        <li><a href="{{site.url}}/about_us.html">About Us</a></li>
      </ul>

</div>
</div>
<!-- header ends --><!-- content begins -->
<div id="content">

<div style="float: right; width: 240px; ">
<div id="contact_info">
<h1 style="text-align: left;">Contact Info</h1>
<p>
Graduate Physics Student Association<br/>
Department of Physics<br/>
4-183 CCIS<br/>
University of Alberta<br/>
Edmonton, AB T6G 2E1<br/>
Canada<br/>
</p>
<p>
Email: <a href="mailto:Burkhard Ritter <physgpsa@ualberta.ca>">Burkhard Ritter</a>
</p>
</div>
</div>

<div style="float: left; width: 680px; margin-left: 20px;">
{{ content }}
</div>

<div style="clear: both;"></div>
</div>
<!-- content ends --><!-- footer begins -->
<div id="footer">
  Copyright 2010. Designed by <a href="http://wyattjohnson.co.cc/" title="Wyatt">Wyatt</a><br>
  <a href="{{site.url}}/pages.html">All pages</a> | 
  <a href="{{site.url}}/atom.xml">Atom feed</a>
</div>
<!-- footer ends -->
</div>
</div>
  </body>
</html>
