---
layout: default
---
{% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture current_year %}{{ site.time | date: '%Y' }}{% endcapture %}
{% if post_year != current_year %}
  {% capture date_format %}%A, %B %e %Y{% endcapture %}
{% else %}
  {% capture date_format %}%A, %B %e{% endcapture %}
{% endif %}

<div>
  <h2>{{ page.title }}</h2>
  <p><span style="color: grey;">{{ page.date | date: date_format }}</span></p>
  {{ content }}
</div>

